/* general styles start */
@font-face {
    font-family: 'Geometria', 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: local(''),
	url('/template/fonts/Geometria-ExtraBold.ttf') format('ttf'),
	url('/template/fonts/gilroy-light.otf') format('otf');
}

ul {
	padding: 0;
}

button, input {
	all: unset;
}

body {
	color: #FFFFFF;
	font-family: 'Geometria';
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;	
}

.container {
	height: 100vh;
	position: relative;
	background: linear-gradient(321.24deg, #4792E1 -91.81%, #4174B3 -31.53%, #363B5D 82.08%);
}

.wrapper-full {
	max-width: 1500px;
	padding: 0 30px;
	margin: 0 auto;
}

/* search styles start */
.search {
	display: none;
	position: absolute;
	top: 15px;
	width: 1270px;
}

.serach__inner {
	position: relative;
}

.search__input {
	width: 100%;
	height: 60px;
	background: rgba(197, 213, 230, 0.5);
	backdrop-filter: blur(54.3656px);
	border-radius: 10px;
	padding: 0 80px 0 30px;
	text-align: center;
	font-weight: 500;
	font-size: 40px;
	line-height: 50px;
}

.search__input::placeholder {
	color: #2E3F69;
	text-align: left;
	font-weight: 400;		
	font-size: 18px;
	line-height: 21px;
	transform: translate3d(0,-6px,0);
}

.search__input-cross {
	position: absolute;
	right: -90px;
	top: 6px;
	height: 50px;
	width: 50px;
}

.search__result {
	display: none;
	margin-top: 20px;
	width: 1380px;
	height: 360px;
	background: rgba(197, 213, 230, 0.5);
	backdrop-filter: blur(54.3656px);
	border-radius: 10px;
	padding: 20px 50px;
}

.search__result-row {
	max-height: 160px;
	display: flex;
	margin-bottom: 48px;
}

.search__result-row:last-child {
	margin-bottom: 0;
}

.result-row__column {
	width: 400px;
	padding-right: 100px;
}

.result-row__column:first-child {
	width: 300px;
	padding-right: 0;
}

.column-category {
	display: flex;
	align-items: center;
}

.column-category__text {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
}

.category-item {
	display: flex;
	flex-direction: column;
	position: relative;
}

.category-item::after {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 1px;
	background-color: #FFFFFF;
	bottom: -8px;
	left: 0;
}

#category-item::after {
	all: unset;
} 

.category-item__title {
	margin-bottom: 15px;
}

.category-item__desc {
	font-family: 'Gilroy';
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
}

#desc1 {
	margin-bottom: 8px;
	position: relative;
}

#desc1::after {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 1px;
	background-color: #FFFFFF;
	bottom: -8px;
	left: 0;
}

#desc2 {
	margin-top: 6px;
	padding-bottom: 40px;
}
/* search styles end */

/* general styles start */




/* header styles start */
.header {
	width: 100%;
	display: flex;
    flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 130px;
	padding-top: 20px;
	font-size: 14px;
}

.header__logo {
	position: absolute;
}

.header__logo-pic {
	height: 32.54px;
	width: 36px;
}

.header__languages {
	margin-right: 230px;
}

.languages__list {
	display: flex;
	margin-left: 136px;
}

.languages__list-item {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	margin-right: 10px;
	padding: 8px 0;
	color: #C5D5E6;
}

.languages__list-item:active {
	color: #FFFFFF;
}

.languages__list-item:last-child {
	margin-right: 0;
}

.header__menu {
	margin-right: 179px;
	color: #C5D5E6;
}

.menu__list {
	display: flex;
}

.menu__list-item {
	font-weight: 800;
	font-size: 14px;
	line-height: 18px;
	padding: 8px 20px;
}

.menu__list-item:hover {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.menu__list-item:last-child {
	background: linear-gradient(270deg, #6082D7 -81.69%, #E73453 100%);
	border-radius: 5px;
	color: #FFFFFF;
	margin-right: 0;
}

.header__search {
	margin-right: auto;
}

.header__search-ico {
	height: 18px;
	width: 18px;
}

.header__authorization {
	mix-blend-mode: normal;
	opacity: 0.5;
	color: #C5D5E6;
}

.authorization__sign-in {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
}
/* header styles end */




/* legal-entity-form styles end */
.popup-close {
	display: none;
	position: absolute;
	height: 50px;
	width: 50px;
	right: 50px;
	top: 30px;
}

.le-form {
	display: none;
	position: absolute;
	top: 100px;
	left: 50px;
	/*transform: translate(-50%, -50%);*/
	width: 1340px;
	background: #FFFFFF;
	box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	text-align: center;
	padding: 50px 100px 80px;

	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #939AA3;
}

.le-form__title {
	font-weight: 800;
	font-size: 64px;
	line-height: 81px;
	color: #363B5D;
}

.le-form__switch {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
}

.le-form__switch-left {
	border-radius: 5px 0px 0px 5px;
	border: 2px solid #363B5D;
	color: #363B5D;
}

.le-form__switch-right {
	border-radius: 0px 5px 5px 0px;
	border: 2px solid #363B5D;
	background: #363B5D;
	color: #FFFFFF;
}

.switch-element {
	padding: 9px 22px;
}

.le-form__enter-data {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}

.enter-data-input {
	width: 400px;
	height: 40px;
	background-color: #C5D5E6;
	mix-blend-mode: normal;
	opacity: 0.2;
	border-radius: 5px;
	padding: 0px 10px;
}

/* group of label and input */
.row-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
}

/* row margin */
.enter-data__row {
	margin-bottom: 33px;
}

/* name styles start */
.personal-part__name {
	display: flex;
}

.name__first-name {
	margin-right: 20px;
}

.name__input {
	max-width: 180px;
}
/* name styles end */

/* company styles start */
.personal-part__company {
	display: flex;
}

.company__text-part {
	margin-right: 20px;
}

.company__logo-part {
	padding-top: 28px;
	color: #4A90E2;
}
/* company styles end */

/* location styles start */
.general-part__location {
	display: flex;
}

.location__town {
	margin-right: 20px;
}

.location__input {
	max-width: 180px;
}
/* location styles end */

.zip-code__input {
	max-width: 180px;
}

/* bank styles start */
.legal-part-1__bank-data {
	display: flex;
}

.bank-name__input {
	margin-right: 20px;
}

.bank-data__input {
	max-width: 180px;
}

.legal-part-2__other-bank-data {
	display: flex;
}

.bank-item {
	margin-right: 20px;
}
/* bank styles end */

.choose-help__subtitle {
	font-family: 'Gilroy';
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: #363B5D;
}

.choose-help__elements {
	margin-top: 40px;
	display: flex;
	padding: 0 20px;
	margin-bottom: 23px;
}

.help-element-img {
	width: 80px;
	height: 80px;
	margin-right: 20px;
}

.elements__element {
	display: flex;
	align-items: center;
	max-width: 275px;
	margin-right: auto;
}

.elements__element:last-child {
	margin-right: 0;	
}

.elements__element-title {
	font-weight: 800;
	font-size: 18px;
	line-height: 23px;
	color: #363B5D;
	text-align: left;
	max-width: 130px;
	color: #C5D5E6;
}
.el-finance__title {
	color: #363B5D;
}

.le-form__finance-help {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	text-align: left;
	border-radius: 15px;
	border: 1px solid #C5D5E6;
	margin-bottom: 52px;
	z-index: 0;
}

.finance-help__triangle {
	display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -12px;
    left: 300px;
	clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
	transform: rotate(135deg);
	border-radius: 0 0 0 0.5em;
	border: inherit;
	background-color: #fff;
	z-index: 10;
}

.payment-methods__card-items {
	max-width: 550px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
	grid-gap: 20px;
	align-items: stretch;
	margin-top: 6px;
}

.enter-data__card-data {
	background-color: #C5D5E6;
	border-radius: 15px;
	padding: 20px 24px;
	color:  #FFFFFF;
}

.enter-data__card-data {
	max-width: 375px;
	margin-top: 6px;
}

.card-number__inputs {
	display: flex;
	margin-bottom: 30px;
}

.card-number__input {
	max-width: 62px;
	height: 40px;
	background-color: #F3F7FA;
	border-radius: 5px;
	margin-right: 10px;
	padding: 0 6px;
	color: #000000;
}

.card-number__input:last-child {
	margin-right: 0;
}

.card-data__other-data {
	display: flex;
	justify-content: space-between;
}

.other-data__item {
	max-width: 130px;
}

.other-data__input {
	max-width: 118px;
	height: 40px;
	border-radius: 5px;
	background-color: #F3F7FA;
	padding: 0 6px;
	color: #000000;
}

.le-form__submit-block {
	padding: 20px 0;
}

.submit-block__btn {
	font-weight: 800;
	font-size: 18px;
	line-height: 23px;
	color: #FFFFFF !important;
	background: linear-gradient(46.62deg, #E53656 21.87%, #6082D8 124.73%);
	box-shadow: 0px 0px 15px 5px rgba(229, 54, 86, 0.4);
	border-radius: 10px;
	padding: 20px 100px;	
}
/* legal-entity-form styles end */




/* individual-entity-form styles start */
.ie-form {
	display: none;
	position: absolute;
	top: 100px;
	left: 50px;
	/*transform: translate(-50%, -50%);*/
	width: 1340px;
	background: #FFFFFF;
	box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	text-align: center;
	padding: 50px 100px 80px;

	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #939AA3;
}

.ie-form__title {
	font-weight: 800;
	font-size: 64px;
	line-height: 81px;
	color: #363B5D;
}

.ie-form__switch {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
}

.ie-form__switch-left {
	border-radius: 5px 0px 0px 5px;
	border: 2px solid #363B5D;
	background: #363B5D;
	color: #FFFFFF;
}

.ie-form__switch-right {
	border-radius: 0px 5px 5px 0px;
	border: 2px solid #363B5D;
	color: #363B5D;
}

.switch-element {
	padding: 9px 22px;
}

.ie-form__enter-data {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}

.enter-data-input {
	width: 400px;
	height: 40px;
	background-color: #C5D5E6;
	mix-blend-mode: normal;
	opacity: 0.2;
	border-radius: 5px;
	padding: 0px 10px;
}

/* group of label and input */
.row-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
}

/* row margin */
.enter-data__row {
	margin-bottom: 33px;
}

/* name styles start */
.personal-part__name {
	display: flex;
}

.name__first-name {
	margin-right: 20px;
}

.name__input {
	max-width: 180px;
}
/* name styles end */

/* company styles start */
.personal-part__company {
	display: flex;
}

.company__text-part {
	margin-right: 20px;
}

.company__logo-part {
	padding-top: 28px;
	color: #4A90E2;
}
/* company styles end */

/* location styles start */
.general-part__location {
	display: flex;
}

.location__town {
	margin-right: 20px;
}

.location__input {
	max-width: 180px;
}
/* location styles end */

.zip-code__input {
	max-width: 180px;
}

.choose-help__subtitle {
	font-family: 'Gilroy';
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: #363B5D;
}

.choose-help__elements {
	margin-top: 40px;
	display: flex;
	padding: 0 20px;
	margin-bottom: 23px;
}

.help-element-img {
	width: 80px;
	height: 80px;
	margin-right: 20px;
}

.elements__element {
	display: flex;
	align-items: center;
	max-width: 275px;
	margin-right: auto;
}

.elements__element:last-child {
	margin-right: 0;	
}

.elements__element-title {
	font-weight: 800;
	font-size: 18px;
	line-height: 23px;
	color: #363B5D;
	text-align: left;
	max-width: 130px;
	color: #C5D5E6;
}
.el-finance__title {
	color: #363B5D;
}

.ie-form__finance-help {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	text-align: left;
	border-radius: 15px;
	border: 1px solid #C5D5E6;
	margin-bottom: 52px;
	z-index: 0;
}

.finance-help__triangle {
	display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -12px;
    left: 300px;
	clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
	transform: rotate(135deg);
	border-radius: 0 0 0 0.5em;
	border: inherit;
	background-color: #fff;
	z-index: 10;
}

.payment-methods__card-items {
	max-width: 550px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
	grid-gap: 20px;
	align-items: stretch;
	margin-top: 6px;
}

.enter-data__card-data {
	background-color: #C5D5E6;
	border-radius: 15px;
	padding: 20px 24px;
	color:  #FFFFFF;
}

.enter-data__card-data {
	max-width: 375px;
	margin-top: 6px;
}

.card-number__inputs {
	display: flex;
	margin-bottom: 30px;
}

.card-number__input {
	max-width: 62px;
	height: 40px;
	background-color: #F3F7FA;
	border-radius: 5px;
	margin-right: 10px;
	padding: 0 6px;
	color: #000000;
}

.card-number__input:last-child {
	margin-right: 0;
}

.card-data__other-data {
	display: flex;
	justify-content: space-between;
}

.other-data__item {
	max-width: 130px;
}

.other-data__input {
	max-width: 118px;
	height: 40px;
	border-radius: 5px;
	background-color: #F3F7FA;
	padding: 0 6px;
	color: #000000;
}

.ie-form__submit-block {
	padding: 20px 0;
}

.submit-block__btn {
	font-weight: 800;
	font-size: 18px;
	line-height: 23px;
	color: #FFFFFF !important;
	background: linear-gradient(46.62deg, #E53656 21.87%, #6082D8 124.73%);
	box-shadow: 0px 0px 15px 5px rgba(229, 54, 86, 0.4);
	border-radius: 10px;
	padding: 20px 100px;	
}
/* individual-entity-form styles end */