/*@font-face {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    	url('/template/fonts/Geometria-ExtraBold.eot') format('eot'),
    	url('/template/fonts/Geometria-ExtraBold.ttf') format('ttf'),
    	url('/template/fonts/Geometria-ExtraBold.woff') format('woff'),
    	url('/template/fonts/Geometria-ExtraBold.woff2') format('woff2');
}*/

ul {
	padding: 0;
}

body {
	color: #FFFFFF;
	/*font-family: 'Geometria';
	font-weight: 400;*/
	font-size: 18px;
	line-height: 21px;	
}

button {
	all: unset;
}

.container {
	height: 100vh;
	background-image: url('/template/img/start-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center
}

.wrapper-full {
	max-width: 1500px;
	padding: 0 30px;
	margin: 0 auto;
}

/* header styles start */
.header {
	width: 100%;
	display: flex;
    flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 130px;
	font-size: 14px;
}

.header__logo {
	margin-top: 22px;
	margin-right: 100px;
}

.header__logo-pic {
	height: 32.54px;
	width: 36px;
}

.header__languages {
	margin-top: 30px;
	margin-right: 222px;
}

.languages__list-item {
	margin-right: 10px;
	color: #C5D5E6;
}

.languages__list-item:active {
	color: #FFFFFF;
}

.languages__list-item:last-child {
	margin-right: 0;
}

.header__menu {
	margin-top: 21px;
	margin-right: 179px;
	color: #C5D5E6;
}

.menu__list-item {
	margin-right: 35px;
	padding: 9px 0 4px 0;
}

.menu__list-item:last-child {
	padding: 9px 20px 4px 28px;
	background: linear-gradient(270deg, #6082D7 -81.69%, #E73453 100%);
	border-radius: 5px;
	color: #FFFFFF;	
}

.header__search {
	margin-top: 28px;
	margin-right: 100px;
}

.header__search-ico {
	height: 18px;
	width: 18px;
}

.header__authorization {
	margin-top: 30px;
	color: #C5D5E6;
}

.languages__list {
	display: flex;
}

.menu__list {
	display: flex;
}
/* header styles end */

/* about styles start */
.about {
	display: flex;
	margin-left: 100px;
}

.about__info {
	color: #C5D5E6;
}

.about__info img {
	width: 18px;
	height: 18px;
}

.info__title {
	display: flex;
	margin-bottom: 57px;
}

.info__title-text {
	font-size: 64px;
	color: #FFFFFF;
	margin-right: 18px;
}

.info__title-link {
	display: flex;
	align-items: center;
}

.link-more {
	margin-right: 10px;
}



.about__pic {
	padding-top: 150px;
	height: 419px;
	width: 546px;
	transform: rotate(6deg);
}
/* about styles end */