/*@font-face {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    	url('/template/fonts/Geometria-ExtraBold.eot') format('eot'),
    	url('/template/fonts/Geometria-ExtraBold.ttf') format('ttf'),
    	url('/template/fonts/Geometria-ExtraBold.woff') format('woff'),
    	url('/template/fonts/Geometria-ExtraBold.woff2') format('woff2');
}*/

ul {
	padding: 0;
}

body {
	color: #FFFFFF;
	/*font-family: 'Geometria';
	font-weight: 400;*/
	font-size: 18px;
	line-height: 21px;	
}

button {
	all: unset;
}

.container {
	height: 100vh;
	position: relative;
	background-image: url('/template/img/start-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.wrapper-full {
	
	max-width: 1500px;
	padding: 0 30px 0 30px;
	margin: 0 auto;
}

/* header styles start */
.header {
	width: 100%;
	display: flex;
    flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 130px;
	font-size: 14px;
}

.header__logo {
	margin-top: 22px;
	margin-right: 100px;
}

.header__logo-pic {
	height: 32.54px;
	width: 36px;
}

.header__languages {
	margin-top: 30px;
	margin-right: 222px;
}

.languages__list-item {
	margin-right: 10px;
	color: #C5D5E6;
}

.languages__list-item:active {
	color: #FFFFFF;
}

.languages__list-item:last-child {
	margin-right: 0;
}

.header__menu {
	margin-top: 21px;
	margin-right: 179px;
	color: #C5D5E6;
}

.menu__list-item {
	margin-right: 35px;
	padding: 9px 0 4px 0;
}

.menu__list-item:last-child {
	padding: 9px 20px 4px 28px;
	background: linear-gradient(270deg, #6082D7 -81.69%, #E73453 100%);
	border-radius: 5px;
	color: #FFFFFF;	
}

.header__search {
	margin-top: 28px;
	margin-right: 100px;
}

.header__search-ico {
	height: 18px;
	width: 18px;
}

.header__authorization {
	margin-top: 30px;
	color: #C5D5E6;
}

.languages__list {
	display: flex;
}

.menu__list {
	display: flex;
}
/* header styles end */

/* about styles start */
.about {
	display: flex;
	margin-left: 70px;
	/*margin-bottom: 138px;*/
}

.about__info {
	color: #C5D5E6;
}

.about__info img {
	width: 18px;
	height: 18px;
}

.info__title {
	display: flex;
	margin-bottom: 77px;
}

.info__title-text {
	font-size: 64px;
	color: #FFFFFF;
	margin-right: 18px;
}

.info__title-link {
	display: flex;
}

.link-more {
	margin-right: 10px;
}

.info__acts::before {
	display: block;
	content: '';
	background-color: #FFFFFF;
	height: 2px;
	width: 50px;
	margin-bottom: 16.88px;
}

.info__acts {
	display: flex;
	flex-direction: column;
	margin-bottom: 70px;
}

.info__acts-message {
	width: 456px;
	margin-bottom: 20px;
	color: #FFFFFF;
	line-height: 22px;
}

.info__acts-links {
	display: flex;
	align-items: center;
}

.links__link-how {
	display: flex;
	margin-right: 100px;
	align-items: flex-start;
	padding: 17px 0 11px 0;
}

.how-text {
	margin-right: 8px;
}

.links__btn-now {
	color: #FFFFFF;
	padding: 17px 20px 11px 24px;
	background: rgba(0, 0, 0, 0.2);
	mix-blend-mode: normal;
	/*box-shadow: 0px 0px 7px 2px #9D5E9A, 0px 0px 15px 10px #E53656;*/
	border-radius: 10px;
}

.info__project::before {
	display: block;
	content: '';
	background-color: #FFFFFF;
	height: 2px;
	width: 50px;
	margin-bottom: 18px;
}

.info__project {
	display: flex;
	flex-direction: column;
}

.info__project-suggestion {
	color: #FFFFFF;
	margin-bottom: 35px;
}

.info__project-link {
	display: flex;
}

.project-link__text {
	margin-right: 13px;
}

.about__pic {
	height: 419px;
	width: 546px;
	transform: translateY(125px);
}
/* about styles end */

/* footer styles start */
.footer {
	position: absolute;
	bottom: 0;
	margin-left: 70px;
	margin-bottom: 27px;
	display: flex;
	align-items: flex-end;
}

.footer__socials {
	display: flex;
}

.socials__text {
	margin-right: 14px;
	color: #C5D5E6;
}

.socials__list {
	display: flex;
}

.socials__list-item {
	margin-right: 20px;
}

.socials__list-item:last-child {
	margin-right: 0;
}
/* footer styles end */

/* chat styles start */
.chat {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 90px;
	height: 90px;
}
/* chat styles  */