/* background styles start */
.background {
	position: fixed;
	height: 100%;
	width: 100%;
	clip-path: polygon(100% 0, 100% 27%, 27% 100%, 0 100%, 0 0);
	background: linear-gradient(321.24deg, #4792E1 -91.81%, #4174B3 -31.53%, #363B5D 82.08%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 0;
}

.container {
	height: 100vh;
	position: relative;
	z-index: 1;
	background-image: unset !important;
}

.background-img {
	position: absolute;
	right: 10px;
	bottom: 50px;
}
/* background styles end */



/* about styles start */
.about {
	margin-left: 70px;
}

.about__info {
	color: #C5D5E6;
}

.info__title {
	display: flex;
	align-items: center;
	margin-bottom: 53px;
}

.info__title-text {
	font-weight: 800;
	font-size: 64px;
	line-height: 81px;
	color: #FFFFFF;
	margin-right: 18px;
}

.info__title-more {
	display: flex;
	align-items: center;
}

.title-more__text {
	font-weight: 500;
	line-height: 23px;
	margin-right: 5px;
}

.title-more__link {
	width: 18px;
	height: 18px;
}

.info__acts::before {
	display: block;
	content: '';
	background-color: #FFFFFF;
	height: 2px;
	width: 50px;
	margin-bottom: 16.88px;
}

.info__acts {
	display: flex;
	flex-direction: column;
	margin-bottom: 70px;
}

.info__acts-message {
	font-family: 'Gilroy';
	font-weight: 300;
	width: 456px;
	margin-bottom: 20px;
	color: #FFFFFF;
}

.info__acts-links {
	display: flex;
	align-items: center;
}


.links__link-how {
	display: flex;
	margin-right: 100px;
	align-items: center;
	padding: 17px 0 11px 0;
}

.link-how__text {
	font-weight: 500;
	line-height: 23px;
	margin-right: 8px;
}

.link-how__router {
	width: 18px;
	height: 18px;
}


.links__link-now {
	padding: 16px 22px 16px 22px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	box-shadow: 0px 0px 7px 2px rgba(157, 94, 154, 0.2), 0px 0px 15px 10px rgba(229, 54, 86, 0.2);
}

.link-now__text {
	font-weight: 500;
	line-height: 23px;
	color: #FFFFFF;
}

.info__project::before {
	display: block;
	content: '';
	background-color: #FFFFFF;
	height: 2px;
	width: 50px;
	margin-bottom: 18px;
}

.info__project {
	display: flex;
	flex-direction: column;
}

.info__project-suggestion {
	font-family: 'Gilroy';
	font-weight: 300;
	color: #FFFFFF;
	margin-bottom: 35px;
}

.info__project-add {
	display: flex;
	align-items: center;
}

.project-add__link {
	width: 18px;
	height: 18px;
}

.project-add__text {
	font-weight: 500;
	line-height: 23px;
	margin-right: 13px;
}
/* about styles end */

/* footer styles start */
.footer {
	position: fixed;
	bottom: 0;
	margin-left: 70px;
	margin-bottom: 26px;
	display: flex;
	align-items: flex-end;
}

.footer__socials {
	display: flex;
}

.socials__text {
	font-weight: 800;
	font-size: 14px;
	line-height: 18px;
	color: #C5D5E6;
	margin-right: 14px;
}

.socials__list {
	display: flex;
}

.socials__list-item {
	margin-right: 20px;
}

.socials__list-item:last-child {
	margin-right: 0;
}
/* footer styles end */

/* chat styles start */
.chat {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 10px;
	margin-bottom: 10px;
}
/* chat styles  */

/* search styles start */
.search {
	display: none;
	position: absolute;
	top: 15px;
	width: 1270px;
}

.serach__inner {
	position: relative;
}

.search__input {
	width: 100%;
	height: 60px;
	background: rgba(197, 213, 230, 0.5);
	backdrop-filter: blur(54.3656px);
	border-radius: 10px;
	padding: 0 80px 0 30px;
	text-align: center;
	font-weight: 500;
	font-size: 40px;
	line-height: 50px;
}

.search__input::placeholder {
	color: #2E3F69;
	text-align: left;
	font-weight: 400;		
	font-size: 18px;
	line-height: 21px;
	transform: translate3d(0,-6px,0);
}

.search__input-cross {
	position: absolute;
	right: -90px;
	top: 6px;
	height: 50px;
	width: 50px;
}

.search__result {
	display: none;
	margin-top: 20px;
	width: 1380px;
	height: 360px;
	background: rgba(197, 213, 230, 0.5);
	backdrop-filter: blur(54.3656px);
	border-radius: 10px;
	padding: 20px 50px;
}

.search__result-row {
	max-height: 160px;
	display: flex;
	margin-bottom: 48px;
}

.search__result-row:last-child {
	margin-bottom: 0;
}

.result-row__column {
	width: 400px;
	padding-right: 100px;
}

.result-row__column:first-child {
	width: 300px;
	padding-right: 0;
}

.column-category {
	display: flex;
	align-items: center;
}

.column-category__text {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
}

.category-item {
	display: flex;
	flex-direction: column;
	position: relative;
}

.category-item::after {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 1px;
	background-color: #FFFFFF;
	bottom: -8px;
	left: 0;
}

#category-item::after {
	all: unset;
} 

.category-item__title {
	margin-bottom: 15px;
}

.category-item__desc {
	font-family: 'Gilroy';
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
}

#desc1 {
	margin-bottom: 8px;
	position: relative;
}

#desc1::after {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 1px;
	background-color: #FFFFFF;
	bottom: -8px;
	left: 0;
}

#desc2 {
	margin-top: 6px;
	padding-bottom: 40px;
}
/* search styles end */
