.container {
	background: linear-gradient(46.62deg, #E53656 21.87%, #6082D8 124.73%) !important;
}


/* header styles start */
.header__logo-pic {
	content: url('template/img/uh-logo.png') !important;
}

.menu__list-item:last-child {
	background: rgba(0, 0, 0, 0.2) !important;
}
/* header styles end */



/* projects styles start */
.titles__list {
	display: flex;
	justify-content: center;
	margin-bottom: 3px;
}

.titles__list-item {
	font-weight: 800;
	font-size: 64px;
	line-height: 81px;
	mix-blend-mode: normal;
	opacity: 0.15;
	margin-right: 100px;
}

/*.titles__list-item:active {
	opacity: 1;
}*/

#titles__item-amount {
	opacity: 1;
}

.titles__list-item:last-child {
	margin-right: 0;
}

.list-item__amount {
	font-family: Gilroy;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	color: #8492F3;
}

#titles__item-amount {
	display: flex;
	align-items: center;
}

#titles__list-link {
	margin-right: 20px;
}

.projects__types-of-help {
	display: flex;
	justify-content: flex-end;
	margin-right: 26px;
	margin-bottom: 48px;
}

.types-of-help__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #C5D5E6;
	margin-right: 8px;
}

.types-of-help__button {
	width: 18px;
	height: 18px;
}

.content__row {
	display: flex;
	margin-left: 120px;
}

.row__project-visual {
	height: 100px;
	width: 400px;
}

#project-visual-1 {
	height: 200px;
}

.row__project-info {
	width: 840px;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-left: 50px;
	border-bottom: 1px solid rgba(216, 216, 216, 0.5);
}

.info__container {
	display: flex;
	flex-direction: column;
	max-width: 600px;
}

.project-info__date {
	font-family: Gilroy;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color: #C5D5E6;
	margin-bottom: 18px;
}

.project-info__title {
	font-weight: 800;
	line-height: 23px;
	margin-bottom: 5px;
}

.project-info__desc {
	font-family: Gilroy;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;;
}

.project-info__sum {
	font-family: Gilroy;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: #B4C4D8;
	margin-top: auto;
	margin-bottom: 10px;
}

.info__sum-num {
	font-size: 18px;
	line-height: 21px;
	vertical-align: middle;
}

#num-1 {
	margin-left: 5px;
	margin-right: 10px;
}

#num-2 {
	margin-left: 10px;
	margin-right: 5px;
}

.info__actions {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 10px;
}

.actions__link {
	margin-bottom: 20px;
}

.actions__link:last-child {
	margin-bottom: 0;
}
/* projects styles end */

/* chat styles start */
.chat {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 10px;
	margin-bottom: 10px;
}
/* chat styles  */

/* search styles start */
/*.search {
	display: none;
	position: absolute;
	left: 30px;
	top: 15px;
	width: 1380px;
	height: 60px;
	background: rgba(197, 213, 230, 0.5);
	backdrop-filter: blur(54.3656px);
	border-radius: 10px;
}*/
/* search styles end */