@font-face {
    font-family: 'Geometria', 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    	url('/template/fonts/Geometria-ExtraBold.ttf') format('ttf'),
    	url('/template/fonts/gilroy-light.otf') format('otf');
}

ul {
	padding: 0;
}

input {
	all: unset;
}

button {
	all: unset;
}

body {
	color: #FFFFFF;
	font-family: 'Geometria';
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;	
}


.container {
	height: 100vh;
	position: relative;
	background-image: url('/template/img/urgenthelp-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.wrapper-full {
	max-width: 1440px;
	padding: 0 30px;
	margin: 0 auto;
}

/* header styles start */
.header {
	width: 100%;
	display: flex;
    flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 51px;
	font-size: 14px;
}

.header__logo {
	margin-top: 22px;
	margin-right: 100px;
}

.header__logo-pic {
	height: 32.54px;
	width: 36px;
}

.header__languages {
	margin-top: 30px;
	margin-right: auto;
}

.languages__list {
	display: flex;
}

.languages__list-item {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	margin-right: 10px;
	color: #C5D5E6;
}

.languages__list-item:active {
	color: #FFFFFF;
}

.languages__list-item:last-child {
	margin-right: 0;
}

.header__menu {
	margin-top: 21px;
	margin-right: 179px;
	color: #C5D5E6;
}

.menu__list {
	display: flex;
}

.menu__list-item {
	font-weight: 800;
	font-size: 14px;
	line-height: 18px;
	margin-right: 35px;
	padding: 9px 0 4px 0;
}

.menu__list-item:last-child {
	padding: 9px 20px 4px 28px;
	background: #000000;
	mix-blend-mode: normal;
	opacity: 0.2;
	border-radius: 5px;
}

.header__search {
	margin-top: 28px;
	margin-right: 100px;
}

.header__search-ico {
	height: 18px;
	width: 18px;
}

.header__authorization {
	mix-blend-mode: normal;
	opacity: 0.5;
	margin-top: 30px;
	color: #C5D5E6;
}

.authorization__sign-in {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
}
/* header styles end */

/* projects styles start */

/* projects styles end */

/* chat styles start */
.chat {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 10px;
	margin-bottom: 10px;
}
/* chat styles  */

/* search styles start */
/*.search {
	display: none;
	position: absolute;
	left: 30px;
	top: 15px;
	width: 1380px;
	height: 60px;
	background: rgba(197, 213, 230, 0.5);
	backdrop-filter: blur(54.3656px);
	border-radius: 10px;
}*/
/* search styles end */
