@font-face {
    font-family: 'Geometria', 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    	url('/template/fonts/Geometria-ExtraBold.ttf') format('ttf'),
    	url('/template/fonts/gilroy-light.otf') format('otf');
}

ul {
	padding: 0;
}

input {
	all: unset;
}

button {
	all: unset;
}

body {
	color: #FFFFFF;
	font-family: 'Geometria';
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;	
}


.container {
	height: 100vh;
	position: relative;
	background-image: url('/template/img/urgenthelp-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.wrapper-full {
	max-width: 1440px;
	padding: 0 30px;
	margin: 0 auto;
}

/* header styles start */
.header {
	width: 100%;
	display: flex;
    flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 51px;
	font-size: 14px;
}

.header__logo {
	margin-top: 22px;
	margin-right: 100px;
}

.header__logo-pic {
	height: 32.54px;
	width: 36px;
}

.header__languages {
	margin-top: 30px;
	margin-right: auto;
}

.languages__list {
	display: flex;
}

.languages__list-item {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	margin-right: 10px;
	color: #C5D5E6;
}

.languages__list-item:active {
	color: #FFFFFF;
}

.languages__list-item:last-child {
	margin-right: 0;
}

.header__menu {
	margin-top: 21px;
	margin-right: 179px;
	color: #C5D5E6;
}

.menu__list {
	display: flex;
}

.menu__list-item {
	font-weight: 800;
	font-size: 14px;
	line-height: 18px;
	margin-right: 35px;
	padding: 9px 0 4px 0;
}

.menu__list-item:last-child {
	padding: 9px 20px 4px 28px;
	background: #000000;
	mix-blend-mode: normal;
	opacity: 0.2;
	border-radius: 5px;
}

.header__search {
	margin-top: 28px;
	margin-right: 100px;
}

.header__search-ico {
	height: 18px;
	width: 18px;
}

.header__authorization {
	mix-blend-mode: normal;
	opacity: 0.5;
	margin-top: 30px;
	color: #C5D5E6;
}

.authorization__sign-in {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
}
/* header styles end */

/* projects styles start */
.titles__list {
	display: flex;
	justify-content: center;
	margin-bottom: 3px;
}

.titles__list-item {
	font-weight: 800;
	font-size: 64px;
	line-height: 81px;
	mix-blend-mode: normal;
	opacity: 0.15;
	margin-right: 100px;
}

.titles__list-item:active {
	opacity: 1;
}

.titles__list-item:last-child {
	margin-right: 0;
}

.list-item__amount {
	font-family: Gilroy;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	color: #8492F3;
}

#titles__item-amount {
	display: flex;
	align-items: center;
}

#titles__list-link {
	margin-right: 20px;
}

.projects__types-of-help {
	display: flex;
	justify-content: flex-end;
	margin-right: 26px;
	margin-bottom: 48px;
}

.types-of-help__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #C5D5E6;
	margin-right: 8px;
}

.types-of-help__button {
	width: 18px;
	height: 18px;
}

.projects__content {
	margin-left: 120px;
}

/* table styles start */
.content__table {
	border-spacing: 0;
}

.content__table-div2 {
	border-bottom: solid 1px #D8D8D8;
	width: 838px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.table-div__container {
	display: flex;
	justify-content: space-between;
}

.table-div__container-p1 {
	display: flex;
	flex-direction: column;
}

.table-div__container-p2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.div__date {
	font-family: Gilroy;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color: #C5D5E6;
	margin-bottom: 18px;
}

.div__title {
	margin-bottom: 5px;
}

.div__content {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	margin-bottom: 65px;
}

.div__summ {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: #B4C4D8;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.container-2__list {
	height: 80px;
	display: flex;	
	flex-direction: column;
	justify-content: space-between;
}
/* table styles end */
/* projects styles end */

/* chat styles start */
.chat {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 10px;
	margin-bottom: 10px;
}
/* chat styles  */

/* search styles start */
/*.search {
	display: none;
	position: absolute;
	left: 30px;
	top: 15px;
	width: 1380px;
	height: 60px;
	background: rgba(197, 213, 230, 0.5);
	backdrop-filter: blur(54.3656px);
	border-radius: 10px;
}*/
/* search styles end */
