@font-face {
    font-family: 'Geometria', 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    	url('/template/fonts/Geometria-ExtraBold.ttf') format('ttf'),
    	url('/template/fonts/gilroy-light.otf') format('otf');
}

ul {
	padding: 0;
}

input {
	all: unset;
}

button {
	all: unset;
}

body {
	color: #FFFFFF;
	font-family: 'Geometria';
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;	
}


.container {
	height: 100vh;
	position: relative;
	background-image: url('/template/img/contacts-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.wrapper-full {
	max-width: 1440px;
	padding: 0 30px;
	margin: 0 auto;
}

/* header styles start */
.header {
	width: 100%;
	display: flex;
    flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 130px;
	font-size: 14px;
}

.header__logo {
	margin-top: 22px;
	margin-right: 100px;
}

.header__logo-pic {
	height: 32.54px;
	width: 36px;
}

.header__languages {
	margin-top: 30px;
	margin-right: auto;
}

.languages__list {
	display: flex;
}

.languages__list-item {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	margin-right: 10px;
	color: #C5D5E6;
}

.languages__list-item:active {
	color: #FFFFFF;
}

.languages__list-item:last-child {
	margin-right: 0;
}

.header__menu {
	margin-top: 21px;
	margin-right: 179px;
	color: #C5D5E6;
}

.menu__list {
	display: flex;
}

.menu__list-item {
	font-weight: 800;
	font-size: 14px;
	line-height: 18px;
	margin-right: 30px;
	padding: 9px 0 4px 0;
}

.menu__list-item:last-child {
	padding: 9px 20px 4px 28px;
	background: linear-gradient(270deg, #6082D7 -81.69%, #E73453 100%);
	border-radius: 5px;
	color: #FFFFFF;	
}

#menu__archive {
	margin-right: 10px;
}

#menu__contacts {
	padding: 8px 20px 4px 20px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	margin-right: 10px;
}

.header__search {
	margin-top: 28px;
	margin-right: 100px;
}

.header__search-ico {
	height: 18px;
	width: 18px;
}

.header__authorization {
	mix-blend-mode: normal;
	opacity: 0.5;
	margin-top: 30px;
	color: #C5D5E6;
}

.authorization__sign-in {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
}
/* header styles end */

/* info styles start */
.info__contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 800;
	font-size: 64px;
	color: #FFFFFF;
	margin-bottom: 91px;
}

.contacts__phone {
	font-family: Gilroy;
	line-height: 78px;
	margin-bottom: 20px;
}

.contacts__mail {
	font-family: Geometria;
	line-height: 81px;
}

.info__feedback {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info__feedback-text {
	font-family: Gilroy;
	font-weight: 300;
	margin-bottom: 19px;
}

.info__feedback-form {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
}

.form__input {
	width: 180px;
	margin-right: 20px;
	padding: 13px 10px 9px 10px;
	background: rgba(197, 213, 230, 0.2);  
	border-radius: 5px;
}

.form__input::placeholder {
	color: #FFFFFF;
}

.form__btn {
	padding: 13px 0 9px 0;
	text-align: center;
	width: 200px;
	background: rgba(0, 0, 0, 0.2); 
	border-radius: 5px;
}


/* info styles end */

/* footer styles start */
.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-bottom: 30px;
	display: flex;
	align-items: flex-end;
}

.footer__socials {
	margin: 0 auto;
}

.socials__list {
	display: flex;
}

.socials__list-item {
	margin-right: 20px;
}

.socials__list-item:last-child {
	margin-right: 0;
}
/* footer styles end */

/* chat styles start */
.chat {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 10px;
	margin-bottom: 10px;
}
/* chat styles  */

/* search styles start */
.search {
	display: none;
	position: absolute;
	left: 30px;
	top: 15px;
	width: 1380px;
	height: 60px;
	background: rgba(197, 213, 230, 0.5);
	backdrop-filter: blur(54.3656px);
	border-radius: 10px;
}
/* search styles end */
